<%- partial('_partial/head') %>

<body>
  <header id="header" class="inner"><%- partial('_partial/header') %></header>
  <div id="content" class="inner">
    <% if ( page.layout == 'page' ){ %>
      <div id="main-col-page"><div id="wrapper-page"><%- body %></div></div>
    <% } else { %>
      <div id="main-col" class="alignleft"><div id="wrapper"><%- body %></div></div>
      <aside id="sidebar" class="alignright"><%- partial('_partial/sidebar') %></aside>
    <% } %>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>

  <% if (theme.addthis) { %>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="<%- theme.addthis %>"></script> 
  <% } %>

</body>
</html>
